.btn {
    border-radius: 30px;
}
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.fundal{
    min-height: 15vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(188, 211, 61, 0.842));
    background-position: center;
    background-size: cover;

}
.container{
    width: 100%;
    height: 15vh;
    margin:auto;
    display: flex;
    align-items: center;
    position: sticky;
    top:0px;
 
}
h4 {
    text-align: left;
    margin: 10px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buton{
    border-radius: 30px;
    padding: 7px;
    border: none;
    background-color:rgb(241, 225, 160);
}
nav {
    padding-left:50px;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 0px 10px;
    padding:10px;
    flex: content;
    font-size: 150%;
}
.nav-link{
    color:aliceblue;

}
nav ul li a{
    color:aliceblue;
}
div a{
    margin:5px;
    color:rgb(241, 225, 160);
    padding: 5px;
    flex:content;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.box{
    margin-top:50px;
    flex-basis:50%;
    position: relative;
}
.box a{
    display:block;
    width: 40%;
    margin:20px;
    color: grey;
    padding:10px;
    font-size: 20px;
    text-decoration: none;
    background-color:rgb(241, 240, 151);
    border: solid rgb(255, 215, 0);
    border-radius: 15px;
    text-align:center;
}
#container{
    display: flex;
    align-items: center;
    margin:20px;
    flex-direction: row;
    flex-wrap: wrap;
}
#p1{
    flex:1;
    padding-inline: 10px;
}
#p2{
    flex:1;
    padding-inline: 10px;
}
h2{text-align: left;
    margin: 10px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
    text-align: center;
}
ul li{text-align: left;
    margin: 10px 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
    text-align: left;
}
.continut{
    display: flex;
    margin:20px;
    flex-direction: row;
    align-items: center;
}
p{
    display: flex;
    margin:20px;
    align-items: justify;
    text-indent: 50px;
}
.pret{
   margin: 80px;
}
.descriere{
    display: flex;
    margin:20px;
    flex-direction: column;
    align-items: center;
}
div img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
div p{
    flex:1;
    padding-inline: 20px 10px;
}

h5{
    text-align: center;
    font-family: inherit;
    /* color: rgba(104, 39, 39, 0.637); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
    text-align: center;
}
.footer{
    display: flex;
  }
.footer > div{
      width: 25%;
      background: rgb(75, 68, 6);
      color:#f0f8ff;
      margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
form input{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    margin-top:20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border:2px solid;
    color:aliceblue;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: inherit;
    margin: 20px;
    text-indent: 50px;
  }
  img{
    max-width: 70%;
    height: auto;
    border-radius: 50px;
}
.text {
    display: flex;
    padding-inline: 20px 10px;
}
h4{
    padding-left: 40px;
    font-family: inherit;
    color: rgba(104, 39, 39, 0.637);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
b {
    color:rgb(73, 66, 23);
    font-size: 15px;
    padding: 0px 20px;
}