*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.fundal{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    background-position: center; 
}
.back-video{
    position:absolute;
    min-height: 100vh;
    width: 100%;
    bottom:1px;

}
.container{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    position: sticky;
    top:0px;
    margin-top: 20px;
    margin-right: 50px;
}
.buton{
    border-radius: 30px;
    padding: 7px;
    margin: 0px 10px;
    border: none;
    background-color:rgb(241, 225, 160);
}
nav {
   
    padding-left:50px;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 0px 20px;
    padding:10px;
    flex: content;
    font-size: 150%;
    color:aliceblue;

}
.nav-link{
    color:aliceblue;

}
nav ul li a{
    color:aliceblue;

}
div a{
    margin:5px;
    color:rgb(241, 225, 160);
    flex:content;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.box{
    margin-top:50px;
    flex-basis:50%;
    position: relative;
}
.box a{
    display:block;
    width: 40%;
    margin:20px;
    color: grey;
    padding:10px;
    font-size: 20px;
    text-decoration: none;
    background-color:rgb(241, 240, 151);
    border: solid rgb(255, 215, 0);
    border-radius: 15px;
    text-align:center;
}
.box p{
    padding: 0px 10px;
} 
.box h1{
    margin-top: 100px;
    font-size:40px;
    font-weight: 600;
    color:rgba(255, 240, 152, 1);
    text-align:center;
    font-family: "poppins", "sant-serif";
}
#container{
    display: flex;
    align-items: center;
    margin:20px;
    flex-direction: row;
    flex-wrap: wrap;
    text-indent: 50px;
}
span{
    color:rgb(73, 66, 23);
    font-size: 25px;
 text-indent: 50px;
}
#p2{
    flex:1;
    padding-top: 30px;
}
#p3{
    flex:1;
    padding-inline: 10px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
    text-align: center;
}
.continut{
    display: flex;
    margin:20px;
    flex-direction: row;
    align-items: center;
    text-indent: 50px;
}
div img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
div p{
    flex:1;
    padding-inline: 20px 10px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
    padding: 0px 50px;
    text-align: left;
}

.footer{
  display: flex;
}
.footer > div{
    width: 25%;
    background: rgb(75, 68, 6);
    color:#f0f8ff;
    margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
  h1 {
    color: hsl(0, 0%, 28%);
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform:capitalize;
    padding: 0px 164px;
    background: linear-gradient(to right, hsl(0, 13%, 95%) 0, hsl(131, 60%, 66%) 10%, hsl(0, 13%, 95%) 20%);
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    -webkit-text-fill-color: rgb(10, 97, 17);

  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
  }
  .table{
    display: flex;
    align-items: center;
    margin:20px;
    flex-direction: row;
    flex-wrap: wrap;
    text-indent: 50px;

}
.table p{
    padding-right: 50px;
}

 